.navbar {
  height: 3.5rem !important;
  background-color: #461143;
  color: white;
}
.nav-img {
  height: 2.5rem !important;
}
.body {
  font-family: "IBM Plex Sans", sans-serif !important;
  background: #ececec 0% 0% no-repeat padding-box;
  height: 100vh;
}

/* nav bar css */
.error {
  color: red;
  font-size: 14px;
  margin-top: 0% !important;
  margin-bottom: 0% !important;
}

.form-title {
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}
.box {
  background-color: white;
  padding-top: 2rem;
  padding-right: 4rem;
  padding-left: 4rem;
  padding-bottom: 2.5rem;
}
.addeve {
  border-radius: 0px 20px;
  background-color: #461143;
  border-color: #461143;
  margin-left: 9%;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.addeve:hover {
  background-color: white;
  color: #461143;
}
.cancel {
  text-decoration: none;
  color: black;
  margin-left: 25%;
  cursor: pointer;
}

.form-box {
  background-color: #ececec;
  padding: 3rem;
  padding-top: 1rem;
  height: 33rem !important;
}
.rowbox {
  height: 32rem !important;
  /* margin-bottom: 2rem !important; */
}
.form-box input {
  border-radius: 0px 20px;
  border: none;
}
.arrow {
  height: 2rem;
  display: inline;
  cursor: pointer;
  margin-right: 1rem;
}
.img-text {
  font-size: 24px;
  font-weight: bold;
}
.big-img {
  height: 30rem;
}
.delete {
  color: #461143;
  cursor: pointer;
}
.delete:hover,
.cancel:hover {
  color: rgb(161, 161, 161);
}

@media only screen and (max-width: 980px) {
  .rowbox {
    height: 68rem !important;
    /* margin-bottom: 2rem !important; */
  }
  .body {
    height: 105vh;
  }
}
@media only screen and (max-width: 768px) {
  .box {
    background-color: white;
    padding-top: 2.5rem;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-bottom: 2rem;
  }
  .rowbox {
    height: 65rem !important;
    /* margin-bottom: 2rem !important; */
  }
  .big-img {
    height: 16rem;
  }
  .form-box {
    background-color: #ececec;
    padding: 1rem;
    padding-top: 1rem;
    height: 35rem !important;
  }
  .body {
    height: 105vh;
  }
  .cancel {
    margin-left: 0%;
  }
}
