<div
  class="body"
  [ngClass]="{ 'body-inactive': isFEventEmpty && isPEventEmpty }"
>
  <nav class="navbar ps-md-5 pe-md-5 ps-2 pe-3 pt-0">
    <div class="nav-img-box ps-md-5 ps-2">
      <img src="../../assets/Logo2.png" class="img-fluid nav-img" />
    </div>
    <div class="logout pe-md-5 pt-3">
      <p>
        Hi {{ username | titlecase }} |
        <a class="logout" (click)="logoutUser()">Logout</a>
      </p>
    </div>
  </nav>
  <div
    class="nav container-fluid nav-active"
    [ngClass]="{ 'nav-inactive': isFEventEmpty && isPEventEmpty }"
  >
    <a class="active">All Events</a>
    <a *ngIf="isAdmin" class="notactive" routerLink="/mycalendar"
      >My Calendar</a
    >
    <a routerLink="/calendarview" *ngIf="isAdmin" class="notactive"
      >Calendar View</a
    >
  </div>
  <div
    class="main container"
    [ngClass]="{ 'main-inactive': isFEventEmpty && isPEventEmpty }"
  >
    <div class="text-center mt-3" *ngIf="isloading">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <p class="main-title">
      <span *ngIf="!isFEventEmpty && !isloading">Upcoming events</span>
      <button
        *ngIf="!isAdmin"
        class="addeve btn btn-primary"
        routerLink="/addevent"
      >
        ADD EVENT
      </button>
    </p>
    <p class="main-title" *ngIf="isFEventEmpty && isPEventEmpty">All events</p>
    <div class="empty-img" *ngIf="isFEventEmpty && isPEventEmpty">
      <img src="../../assets/nodata.png" class="img-fluid empty" />
      <button
        *ngIf="!isAdmin"
        class="addeve-empty btn btn-primary"
        routerLink="/addevent"
      >
        ADD EVENT
      </button>
    </div>
    <div *ngIf="isAdmin">
      <div *ngFor="let i of fevents" class="event-container">
        <div class="event-box row p-2 mb-3">
          <div class="col-xl-2 mt-md-0 mt-2">
            <img class="eventImg" src="{{ i['eventUrl'] }}" />
          </div>
          <div class="col-xl-8">
            <p class="event-title mb-1">{{ i["eventName"] }}</p>
            <p class="event-desc">
              {{ i["eventDesc"] }}
            </p>
          </div>
          <div class="col-xl-2">
            <p class="event-date mb-1">{{ i["eventDate"] | date }}</p>
            <p class="event-time mb-1">
              {{ "01/01/2011 " + i["start"] | date: "shortTime" }} -
              {{ "01/01/2011 " + i["end"] | date: "shortTime" }}
            </p>
            <div *ngIf="!i.isScheduled">
              <button
                class="btn btn-primary remove mb-2 mb-md-0"
                (click)="addtocalendar(i['event_id'])"
              >
                ADD TO MY CALENDAR
              </button>
            </div>
            <div *ngIf="i.isScheduled">
              <button class="btn btn-primary scheduled mb-2 mb-md-0" disabled>
                SCHEDULED
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!isAdmin">
      <div class="event-container d-flex justify-content-around flex-wrap">
        <div
          *ngFor="let i of fevents"
          class="event-box2 mb-4"
          (click)="edit(i['event_id'], i)"
        >
          <img class="img-fluid eveImg" src="{{ i['eventUrl'] }}" />
          <p class="event-title mb-1">{{ i["eventName"] }}</p>
          <p
            *ngIf="!i['inProgress']; else elseBlock"
            class="event-date-time mb-1"
          >
            {{ i["eventDate"] | date }}
            {{ "01/01/2011 " + i["start"] | date: "shortTime" }} -
            {{ "01/01/2011 " + i["end"] | date: "shortTime" }}
          </p>
          <ng-template #elseBlock
            ><p class="event-date-time mb-1">
              <span style="font-weight: bold">InProgress</span> Ends at
              {{ "01/01/2011 " + i["end"] | date: "shortTime" }}
            </p></ng-template
          >
        </div>
      </div>
    </div>

    <p class="main-title" *ngIf="!isPEventEmpty && !isloading">Past events</p>
    <div *ngIf="isAdmin">
      <div *ngFor="let i of pevents" class="event-container">
        <div class="event-box row p-2 mb-3">
          <div class="col-xl-2 mt-md-0 mt-2">
            <img class="eventImg" src="{{ i['eventUrl'] }}" />
          </div>
          <div class="col-xl-8 col-md-6">
            <p class="event-title mb-1">{{ i["eventName"] }}</p>
            <p class="event-desc">
              {{ i["eventDesc"] }}
            </p>
          </div>
          <div class="col-xl-2">
            <p class="event-date mb-3 mt-4">{{ i["eventDate"] | date }}</p>
            <p class="event-time mb-1">
              {{ "01/01/2011 " + i["start"] | date: "shortTime" }} -
              {{ "01/01/2011 " + i["end"] | date: "shortTime" }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!isAdmin">
      <div class="event-container d-flex justify-content-around flex-wrap">
        <div
          *ngFor="let i of pevents"
          class="event-box2 mb-4"
          (click)="edit(i['event_id'], i)"
        >
          <img class="img-fluid eveImg" src="{{ i['eventUrl'] }}" />
          <p class="event-title mb-1">{{ i["eventName"] }}</p>
          <p class="event-date-time mb-1">
            {{ i["eventDate"] | date }}
            {{ "01/01/2011 " + i["start"] | date: "shortTime" }} -
            {{ "01/01/2011 " + i["end"] | date: "shortTime" }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<button
  type="button"
  class="btn btn-primary modal-btn"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  style="display: none !important"
>
  hi
</button>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div>
          <span class="x"
            ><button
              type="button"
              class="btn modal-btn"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <img
                src="https://img.icons8.com/material-rounded/12/FFFFFF/delete-sign.png"
              /></button
          ></span>
          <span class="modal-text">
            Sorry, You cannot add this event. You have another event scheduled
            on this time.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
